.heading {
  background: var(--header-background);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ececec;
}

.menu {
  display: flex;
}
.menu__list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  gap: 46px;
}
.menu__logo {
  width: 145px;
  margin: 0px;
  margin-top: 24px;
  margin-bottom: 25px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;

  letter-spacing: 0.03em;

  color: var(--logo-first-color);
  cursor: pointer;
}
.menu__logo--second {
  color: var(--logo-second-color);
}

.menu__list--agency {
  width: 53px;
  margin-left: 93px;
  margin-top: 32px;

  font-style: normal;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;

  color: var(--text-color);
  cursor: pointer;
}
.active::after {
  content: "";
  position: absolute;
  width: 53px;
  top: 72px;
  background: var(--hover-button-background);
  height: 4px;
  border-radius: 10px 10px 10px 10px;
}
.menu__list--portfolio {
  width: 53px;
  margin-top: 32px;

  font-style: normal;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--text-color);
  cursor: pointer;
}
.menu__list--contact {
  width: 51px;
  margin-top: 32px;

  font-style: normal;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--text-color);
  cursor: pointer;
}
.contact-list {
  display: flex;
  margin: 0px;
  margin-left: 345px;
  align-items: center;
  list-style: none;
  padding: 0px;
}
.contact-list__text-icon {
  display: flex;
  display: flex;
  fill: #757575;
  align-items: center;
  cursor: pointer;
}
.contact-list__text-icon:hover {
  color: #2196f3;
  fill: #2196f3;
}
.header-mail {
  margin: 0px;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.02em;

  color: var(--header-contact-color);

  font-family: "Roboto";
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 2px;
}

.icon:hover > a {
  color: #2196f3;
  fill: #2196f3;
}
.contact-list__text-icon--icon-inside {
  padding-right: 10px;
  align-items: center;
}
.phone-link {
  margin-left: 30px;
}

.header-phone {
  margin: 0px;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.02em;

  color: var(--header-contact-color);

  font-family: "Roboto";
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 5px;
  margin-left: 30px;
}

//mobile version

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .heading {
    justify-content: space-between;
  }
}

@media screen and (max-width: 320px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .heading {
    height: 60px;
    margin-bottom: 60px;
  }
  .contact-list {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .heading {
    display: flex;
    justify-content: space-between;
  }
  .menu__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .mobile-button {
    width: 40px;
    height: 40px;
    background: get-bg-color(basic-background);
    fill: get-color(dark-text);
  }
  .mobile-button:hover,
  .mobile-button:focus {
    fill: get-color(action);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  header {
    margin-bottom: 60px;
  }
  .mobile-button {
    display: none;
  }
  .heading {
    justify-content: space-between;
  }
  .menu__logo {
    padding-right: 83px;
  }

  .menu {
    gap: 60px;
  }
  .contact-list {
    display: inline-block;
    margin-left: 101px;
  }
  .contact-list__text-icon {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
  }
  .header-mail {
    padding-top: 21px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-button {
    display: none;
  }
}
