.primary-part {
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
  align-items: center;
  background: var(--central-section-background);
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main-section-background.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  padding-top: 200px;
  padding-bottom: 210px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.primary-part__container-vertical--button-box {
  display: block;
  margin-right: auto;
  margin-left: auto;

  width: 200px;
  margin-top: 30px;
  cursor: pointer;
  border: var(--white-color);
  font-style: normal;
  border-radius: 4px;

  color: var(--header-background);
  background: var(--hover-button-background);

  font-size: 16px;
  line-height: 1.62;

  letter-spacing: 0.03em;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.orderButtonText {
  width: 117px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--text-color);

  letter-spacing: 0.06em;
}

.primary-part__container-vertical--primary-text {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 6px;
  margin: 0px;
  text-align: center;
  color: var(--primary-text-color);
  text-transform: uppercase;

  font-style: normal;

  letter-spacing: 0.06em;
}
