.team-section {
  left: 0px;
  background: var(--team-section-background);
  padding-bottom: 94px;
  display: block;
}

.team-section__text {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;

  letter-spacing: 0.03em;

  color: var(--text-color);
}
.team-section__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0px;
  margin: 0px;
}
.team-section__member {
  width: 270px;
  padding-bottom: 30px;

  background: var(--primary-text-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-section__member--data {
  margin-top: 30px;
  display: block;
  text-align: center;
}
.team-section__member--name {
  width: 72px;
  font-style: normal;
  font-size: 16px;
  line-height: 1;

  text-align: center;
  letter-spacing: 0.03em;
}
.team-section__member--job {
  font-weight: 400;

  font-style: normal;
  font-size: 16px;
  line-height: 1;
  margin-top: 10px;

  letter-spacing: 0.03em;

  color: var(--header-contact-color);
}
.icon-figcaption {
  display: flex;
  list-style: none;
  padding: 0px;
  gap: 10px;
  justify-content: center;
}
.social-link a:hover {
  fill: white;
  background: var(--hover-button-background);
}
.social-link a {
  display: flex;
  border-radius: 50%;
  padding: 11px;
  fill: var(--icon-color);
  transition-property: fill, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
