:root {
  --text-color: #212121;
  --primary-text-color: #ffffff;
  --logo-first-color: #2196f3;
  --logo-second-color: #000000;
  --link-color: #2196f3;
  --header-contact-color: #757575;
  --footer-contact-color: #ffffff99;
  --order-button-text-color: #ffffff;
  --header-background: #ffffff;
  --central-background: #e5e5e5;
  --central-section-background: #2f303a;
  --footer-background: #2f303a;
  --team-section-background: #f5f4fa;
  --order-button-background: #f5f4fa;
  --hover-button-background: #2196f3;
  --icon-color: #afb1b8;
}
